@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('/background.png') center / cover no-repeat, #FAEDC4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* o puedes usar 'contain' */
  background-attachment: fixed;
}
